{% extends '::base.html.twig' %}

{% block title %}My Devices{% endblock %}

{% block stylesheets %}
    {% stylesheets output='css/main.css' combine=true
        'vendor/bootstrap/dist/css/bootstrap.min.css'
        '@DevicesMyDevicesBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {% javascripts output='js/fixie9.js' combine=true
        'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
        'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <![endif]-->
{% endblock %}

{% block body %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("device") }}">My Devices</a>
            </div>
            <div class="navbar-collapse collapse">
                {% if is_granted("ROLE_ADMIN") %}
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route') starts with 'statistics' %}active{% endif %}">
                            <a href="{{ path("statistics_index") }}">Statistics</a>
                        </li>
                    </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right list-inline">
                    <li><a href="{{ path("fos_user_security_logout") }}">{{ app.user.username }}, logout?</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="jumbotron">
            {% block content %}{% endblock %}
        </div>
    </div><!-- /.container -->

    {# Since Admin can not add his device to device list #}
    {% if is_granted("ROLE_ADMIN") == false %}

        {# Modal dialog apears when system discover new user's device#}
        <div class="modal fade" tabindex="-1"  id="add-new-device-modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Device Detected!</h4>
                    </div>
                    <div class="modal-body">
                        Our website detected that you access from new Device. Would you like to add new device to our device list?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"  data-dismiss="modal" id="add-new-device" data-loading-text="Adding...">Add Device</button>
                    </div>
                </div>
            </div>
        </div>

        {# Modal dialog to show errors#}
        <div class="modal fade alert-danger" tabindex="-1"  id="error-modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">You got an error!</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>

    {% javascripts output='js/main.js' combine=true
        'vendor/bootstrap/dist/js/bootstrap.min.js'
        'vendor/fingerprint/fingerprint.js'
        'vendor/jquery.cookie/jquery.cookie.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Since Admin can not add his device to device list #}
    {% if is_granted("ROLE_ADMIN") == false %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {% javascripts output='js/device.js' combine=true
            'vendor/Browser/src/browser.js'
            '@DevicesMyDevicesBundle/Resources/public/js/new-device-manager.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
            $(function() {
                "use strict";

                var checkUrl = Routing.generate('device_check');
                var addUrl = Routing.generate('device_add');
                var showUrl = Routing.generate('device_show', { 'id': '0' });

                var ndm = new NewDeviceManager(checkUrl, addUrl, showUrl);

                ndm.checkDevice();
            });
        </script>
    {% endif %}
{% endblock %}

