{% extends "DevicesMyDevicesBundle::layout.html.twig" %}

{% block title %}Statistics{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '@DevicesMyDevicesBundle/Resources/public/css/statistics.css' output='css/statistics.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <h1>Statistics About Device Characteristics</h1>

    <div id="statistics-block">
        <div id="pie-type-of-device">Loading Type of Device...</div>
        <div id="pie-os">Loading OS...</div>
        <div id="pie-browser">Loading Browser...</div>
        <div id="pie-device-screen-size">Loading Device Screen Size...</div>
        <div id="pie-browser-size">Loading Browser Screen Size...</div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts output='js/statistics.js' combine=true
        'vendor/highcharts/highcharts.js'
        'vendor/highcharts/modules/exporting.js'
        '@DevicesMyDevicesBundle/Resources/public/js/pie-chart-manager.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function(undefined) {
            "use strict";

            var dataUrl = Routing.generate('statistics_pie_chart_data');
            var pieCharts = [
                {name: 'type-of-device', title: 'Type of Devices'},
                {name: 'os', title: 'Operation Systems'},
                {name: 'browser', title: 'Browsers'},
                {name: 'device-screen-size', title: 'Device Screen Size'},
                {name: 'browser-size', title: 'Browser Size'}
            ];
            var callback = function (error, pieName) {
                if (error) {
                    $('#pie-' + pieName).text(error);
                }
            };

            var pieChartManager = new PieChartManager(dataUrl);

            for (var i in pieCharts) {
                var chartObj = pieCharts[i];
                pieChartManager(chartObj.name, chartObj.title, callback);
            }
        });
    </script>
{% endblock %}
